<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib.hkh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

<!--        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:process=":player" />-->

        <!--喜马拉雅 apk_key 和 pack_id、appsecret -->
        <meta-data
            android:name="app_key"
            android:value="38ab7d745de8db5467abf0ed833a59ef" />
        <meta-data
            android:name="pack_id"
            android:value="com.nbhope.hopelauncher" />
        <!--appSecret 此处的为加密后的-->
        <!--apppsecret需先在com.lib.hkh.ExampleUnitTest#encrypt中将appSecret替换为真实的appSecret后运行获取加密后的字符串，填入meta-data的appsecret value中-->
        <meta-data
            android:name="appsecret"
            android:value="i8xsZ6jv0Fo7+dj9mlv4ufdxkTh7cj0HYAWXkW/+uKxqvsWLXbYGsM8yMYwn5OJXQSOaaJzbK/DQ+UFv9ja5bQ==" />
    </application>

</manifest>
